.App {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-section {
  flex: 1 1 0;
  background-color: hsl(220deg 13% 13%);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.class-selection {
  margin-top: 20px;
}

.class-selection > div {
  padding: 10px;
  border: 1px solid #ccc;
  margin: 5px 0;
}

.class-selection > div:hover {
  background-color: lightgray;
}

.class-selection > div.selected {
  background-color: lightgreen;
}

.section {
  align-items: center;
  border: gray solid 1px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 30%;
}

.section-rows {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 5px;
}
